$primary-dark-red-background: #8E2424;
$light-gray-font-color: #667085;
$dark-grey-font-color: #101828;


// HEADER AREA
header {

    .upper-section {
        width: 100vw;
        height: 8em;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-container {
        width: 128rem;
        height: 4.4rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0px 32px;
    }

    #logo-and-company-name {
        width: 20.7rem;
    
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #logo-and-company-name {
        width: 20.7rem;
    
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    #logo-and-company-name p {
        font-size: 1.8rem;
        font-weight: 500;
    }


    
    
    // NAV AREA
    .nav-container {
        width: 36.2rem;
        height: 3.2rem;

        display: flex;
        align-items: center;
        justify-content: center;

    ul {
        li {
            list-style: none;
    
            display: inline-block;
    
            font-size: 1.6rem;
        }

        a {
            text-decoration: none;
    
            margin-right: 1.8rem;
    
            color: $light-gray-font-color;
    
            font-size: 500;
        }

        a:hover {
            color: #A2A8B6;
        }

        a:last-child {
            margin-right: 0;
        }
    }
}




    // BUTTONS AREA
    .buttons-container {
        width: 20.7rem;
        height: 4.4rem;
    
        display: flex;
        align-items: center;

        .sign-in {
            width: 11.2rem;
            height: 75%;
        
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sign-up {
            width: 11.2rem;
            height: 75%;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            background-color: $primary-dark-red-background;
        
            border-radius: 0.8rem;
        }

        .sign-up:hover {
            background-color: #b62e2e;
        }

        .sign-in a {
            font-size: 1.6rem;
        
            text-decoration: none;

            color: $dark-grey-font-color;
        }

        .sign-up a {
            font-size: 1.6rem;
        
            text-decoration: none;

            color: #FFF;
        }

        .sign-in a:hover {
            color: grey;
        }
    }
}