$primary-dark-red-background: #8E2424;
$light-gray-font-color: #667085;
$dark-grey-font-color: #101828;
$light-red-background: rgba(142, 36, 36, 0.05);


// // UPPER HEADER AREA
header {

    .upper-section {
        width: 100%;
        height: 8em;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-container {
        width: 128rem;
        height: 4.4rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 32px;
    }

    #logo-and-company-name {
        width: 20.7rem;
    
        display: flex;
        align-items: center;
        justify-content: space-around;

        padding-left: 11.2rem;
    }
    
    #logo-and-company-name p {
        font-size: 1.8rem;
        font-weight: 500;

        margin-left: 0.8em;
    }


    
    
    // NAV AREA
    .nav-container {
        width: 36.2rem;
        height: 3.2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: -11.9rem;

    ul {
        li {
            list-style: none;
    
            display: inline-block;
    
            font-size: 1.6rem;
        }

        a {
            text-decoration: none;
    
            margin-right: 1.8rem;
    
            color: $light-gray-font-color;
    
            font-size: 500;
        }

        a:hover {
            color: #A2A8B6;
        }

        a:last-child {
            margin-right: 0;
        }
    }
}




    // BUTTONS AREA
    .buttons-container {
        width: 30rem;
        height: 4.4rem;
    
        display: flex;
        align-items: center;

        padding-right: 11.2em;

        .sign-in {
            width: 11.2rem;
            height: 75%;
        
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sign-up {
            width: 11.2rem;
            height: 75%;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            background-color: $primary-dark-red-background;
        
            border-radius: 0.8rem;
        }

        .sign-up:hover {
            background-color: #b62e2e;
        }

        .sign-in a {
            font-size: 1.6rem;
        
            text-decoration: none;

            color: $dark-grey-font-color;
        }

        .sign-up a {
            font-size: 1.6rem;
        
            text-decoration: none;

            color: #FFF;
        }

        .sign-in a:hover {
            color: grey;
        }
    }
}




// // CONTENT HEADER AREA

#header {
    
    .header-container {
        height: 40.7rem;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 9.6rem 0 9.6rem 0 ;
    }

    span {
        color: $primary-dark-red-background;
        
        font-size: 1.6rem;
        font-weight: 600;

        top: 9.6rem;
        margin-bottom: 2.4rem;
    }

    h1 {
        font-size: 4.8rem;
        font-weight: 600;

        margin-bottom: 3.6rem;
    }

    p {
        font-size: 2rem;
        font-weight: 400;

        text-align: center;

        line-height: 3rem;

        color: $light-gray-font-color;
    }

    #description-container {
        width: 79.2rem;
        height: 8.3rem;
    }
}



// // METRICAS AREA

.metricas-container {

    height: 28.8rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0rem 0rem 9.6rem 0rem;

    .metricas-data:first-child {
        padding-left: 11.2rem;
    }

    .metricas-data:last-child {
        margin-right: 11.2rem;
    }

    .metricas-data {

        width: 100%;
        height: 100%; 

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding-bottom: 12rem;

        h1 {
            font-size: 6rem;

            color: $primary-dark-red-background;
        }

        span {
            font-size: 1.8rem;
            font-weight: 500;

            margin-top: 1.2rem;
            margin-bottom: 0.8rem;
        }

        p {
            text-align: left;

            font-size: 1.6rem;
            font-weight: 400;

            color: $light-gray-font-color;
        }

        .data-description-container {
            width: 28rem;
            height: 7.2rem;
        }
    }
}



// TALENTS SECTION

#talents {
    width: 100%;
    height: 179.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 9.6em 0em 9.6em 0em;

    border: 1px solid red;

    span {
        
        font: {
            size: 1.4em;
            weight: 500;
        }

        margin: {
            bottom: 2rem;
        }

        color: $primary-dark-red-background;

        background: $light-red-background;

        padding: 0.4rem 1.2rem;

        border-radius: 1.6rem;
    }

    h1 {
        font: {
            weight: 600;
            size: 3.6em;
        }

        margin: {
            bottom: 2rem;
        }
    }

    p {
        font: {
            size: 2em;
            weight: 400;
        }

        color: $light-gray-font-color;
    }

    #team-img {
        background-image: url("../../images/people-meeting.png");
        background-size: cover;

        position: absolute;

        width: 121.6rem;
        height: 40rem;
    }

    .job-oportunities {
        background-color: blue;
        
        width: 121.6rem;
    }
}