header .upper-section {
  width: 100%;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-container {
  width: 128rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}
header #logo-and-company-name {
  width: 20.7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 11.2rem;
}
header #logo-and-company-name p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.8em;
}
header .nav-container {
  width: 36.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -11.9rem;
}
header .nav-container ul li {
  list-style: none;
  display: inline-block;
  font-size: 1.6rem;
}
header .nav-container ul a {
  text-decoration: none;
  margin-right: 1.8rem;
  color: #667085;
  font-size: 500;
}
header .nav-container ul a:hover {
  color: #A2A8B6;
}
header .nav-container ul a:last-child {
  margin-right: 0;
}
header .buttons-container {
  width: 30rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  padding-right: 11.2em;
}
header .buttons-container .sign-in {
  width: 11.2rem;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .buttons-container .sign-up {
  width: 11.2rem;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8E2424;
  border-radius: 0.8rem;
}
header .buttons-container .sign-up:hover {
  background-color: #b62e2e;
}
header .buttons-container .sign-in a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #101828;
}
header .buttons-container .sign-up a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #FFF;
}
header .buttons-container .sign-in a:hover {
  color: grey;
}

#header .header-container {
  height: 40.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.6rem 0 9.6rem 0;
}
#header span {
  color: #8E2424;
  font-size: 1.6rem;
  font-weight: 600;
  top: 9.6rem;
  margin-bottom: 2.4rem;
}
#header h1 {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 3.6rem;
}
#header p {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  line-height: 3rem;
  color: #667085;
}
#header #description-container {
  width: 79.2rem;
  height: 8.3rem;
}

.metricas-container {
  height: 28.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0rem 0rem 9.6rem 0rem;
}
.metricas-container .metricas-data:first-child {
  padding-left: 11.2rem;
}
.metricas-container .metricas-data:last-child {
  margin-right: 11.2rem;
}
.metricas-container .metricas-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 12rem;
}
.metricas-container .metricas-data h1 {
  font-size: 6rem;
  color: #8E2424;
}
.metricas-container .metricas-data span {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}
.metricas-container .metricas-data p {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  color: #667085;
}
.metricas-container .metricas-data .data-description-container {
  width: 28rem;
  height: 7.2rem;
}

#talents {
  width: 100%;
  height: 179.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.6em 0em 9.6em 0em;
  border: 1px solid red;
}
#talents span {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #8E2424;
  background: rgba(142, 36, 36, 0.05);
  padding: 0.4rem 1.2rem;
  border-radius: 1.6rem;
}
#talents h1 {
  font-weight: 600;
  font-size: 3.6em;
  margin-bottom: 2rem;
}
#talents p {
  font-size: 2em;
  font-weight: 400;
  color: #667085;
}
#talents #team-img {
  background-image: url("../../images/people-meeting.png");
  background-size: cover;
  position: absolute;
  width: 121.6rem;
  height: 40rem;
}
#talents .job-oportunities {
  background-color: blue;
  width: 121.6rem;
}
